<div class="sidebar-category">
	<h6 class="mb-3"><%= @lesson.title %></h6>
	<div class="course-sidebar-list">
	<% Chapter.where(lesson: @lesson).order("id ASC").each do |chapter| %>
		<p class="mb-1">
			<a href="<%= courses_url %>/<%= params[:course_slug] %>/<%= params[:topic_slug] %>/<%= params[:lesson_slug] %>/<%= chapter.slug %>" class="course-sidebar-item"><% if user_signed_in? && Log.find_by(:chapter_id => chapter.id, :user_id => current_user.id).present? %><span class="viewed_ic"></span><% end %><%= chapter.title %></a>
		</p>
	<% end %>
	</div>
</div>