<div class="sidebar-category">
	<h5><%= @course.title %></h5>
	<div class="course-sidebar-list">
		<% Topic.where(course_id: @course).each do |topic| %>
			<a href="<%= courses_url %>/<%= params[:course_slug] %>/<%= topic.topic_slug %>" class="course-sidebar-item"><%= topic.title %></a>
		<% end %>
	</div>
</div>