<div class="breadcrumb mb-0">
	<div class="list">
		<a href="<%= courses_url %>" class="item">Course</a>
		<a href="<%= courses_url %>/<%= params[:course_slug] %>" class="item"><%= @course.title %></a>
		<a href="<%= courses_url %>/<%= params[:course_slug] %>/<%= params[:topic_slug] %>" class="item"><%= @topic.title %></a>
		<a nohref class="item"><%= @lesson.title %></a>
	</div>
</div>
<div class="main__content-left">
	<h6 class="course-sidebar-heading"><span class="navigation_ic">Danh mục</span></h6>
	<div class="course-sidebar mt-4">
		<%= render 'chapter' %>
	</div>
</div>
<div class="main__content-center detail">
	<div class="course-intro">
		<h1 class="title mb-3">
			<%= @chapter.title %>
			<% if user_signed_in? %>
				<% if @follow.nil? %>
					<a class="follow unfollow" rel="nofollow" data-method="post" href="/follows/<%= @chapter.id %>?user_id=<%= current_user.id %>&chapter_title=<%= @chapter.title %>&chapter_url=<%= request.fullpath %>&chapter_id=<%= @chapter.id %>&followed=true&authenticity_token=<%= form_authenticity_token %>"></a>
				<% else %>
					<a class="follow following" rel="nofollow" data-method="delete" href="/follows/<%= @follow.id %>/"></a>
				<% end %>
			<% end %>
		</h1>
		<p class="description mb-4"><%= @chapter.description %></p>
	</div>
	<% if @chapter.video.exists? %>
		<video controls width="100%" height="auto" src="<%= @chapter.video.expiring_url.gsub('s3.vnetwork.vn','cdn.s3.vnetwork.vn') %>"></video>
	<% end %>
	<div class="mt-4 mb-4 course-body">
		<%= @chapter.body.html_safe %>
	</div>
	<div class="course-question">
		<h3 class="mb-1">Hỏi/Đáp</h3>
		<p class="description mb-3">Đặt câu hỏi cho phần kiến thức mà bạn chưa nắm, quản lí đào tạo sẽ trả lời cho bạn.</p>
		<% if @chapter.comments.present? %>
		<div class="course-question-list">
			<% @chapter.comments.each do |comment| %>
			<div class="q-<%= Digest::MD5.hexdigest(comment.name) %> mb-3">
			  <h5 class="mb-1">
			  	Q: <%= comment.content %>
			  </h5>
			  <% comment.replies.each do |answer| %>
			  	<p class="course-question-answers mt-2">A: <%= answer.content %></p>
			  <% end %>
			  <% if admin_signed_in? %>
			  	<p class="admin-reply blue-nd mb-3"><u>Reply</u></p>
				  <form action="/chapters/<%= @chapter.id %>/comments/<%= comment.id %>/replies" class="mb-4 a-<%= Digest::MD5.hexdigest(comment.name) %>" accept-charset="UTF-8" method="post">
				  	<input name="utf8" type="hidden" value="✓">
				  	<input type="hidden" name="authenticity_token" value="another_token" />
					  <div class="form-group">
					  	<label class="form-label font-weight-bold" for="reply_content">Enter your answer</label>
				      <textarea placeholder="About 10 - 200 characters" class="form-control" required="required" name="reply[content]" id="reply_content" cols="50" rows="3"></textarea>
				    </div>
				    <div class="form-actions">
				      <button name="button" type="submit" class="btn btn-primary mr-3">
				        Submit
							</button>
						</div>
					</form>
				<% end %>
				<style type="text/css">
					.q-<%= Digest::MD5.hexdigest(comment.name) %> .a-<%= Digest::MD5.hexdigest(comment.name) %> {
						display: none;
						visibility: hidden;
					}

					.q-<%= Digest::MD5.hexdigest(comment.name) %>.active .a-<%= Digest::MD5.hexdigest(comment.name) %>{
						display: block;
						visibility: visible;
					}
				</style>
				<script type="text/javascript">
					$(".admin-reply").click(function() {
						$(".q-<%= Digest::MD5.hexdigest(comment.name) %>").removeClass("active");
						$(this).parent().addClass("active");
					})
				</script>
			</div>
			<% end %>
		</div>
		<% end %>
		<div class="course-question-add">
			<h5>You have a question?</h5>
			<% if user_signed_in? %>
				<%= form_with(model: [ @chapter, @chapter.comments.build ], local: true) do |f| %>
				  <%= f.hidden_field :name, :value => current_user.name %>
				  <%= f.hidden_field :email, :value => current_user.email %>

				  <div class="form-group">
				  	<%= f.label :content, 'Enter your question', class: 'form-label font-weight-bold mt-3' %>
			      <%= f.text_area :content, size: '50x3', placeholder: 'About 10 - 200 characters', class: 'form-control', :required => true %>
			    </div>

			    <div class="form-actions">
			      <%= button_tag(type: "submit", class: "btn btn-primary mr-3") do %>
			        Submit
			      <% end %>
			    </div>
				<% end %>
			<% else %>
				<p>You must login before send a question! <span class="direct-login blue-nd"><u>Login Now</u></span></p>
			<% end %>
		</div>
	</div>
</div>
<div class="main__content-right detail">
	<div class="course-sidebar-nd">
		<% if @related.present? %>
			<div class="course-linked rounded">
				<p class="mb-1">Related Course</p>
				<% @related.each do |course| %>
				<div class="mt-3">
					<h6 class="mb-0"><%= course.title %></h6>
					<a href="<%= course.slug %>">Read more</a>
				</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
<% if @chapter.next %>
<div class="up-next">
	<div class="container">
		<div class="mt-3">
			<span class="mb-0">Up Next</span>
			<a href="<%= @chapter.next.slug %>"><h4><%= @chapter.next.title %></h4></a>
		</div>
	</div>
</div>
<% end %>
<% if user_signed_in? && !Log.find_by(chapter_id: @chapter.id, user_id: current_user.id).present? %>
	<script type="text/javascript">
		function dataColect() {
	    info = {
	    	'log_type' : "Course",
	      'user_id' : <%= current_user.id %>,
	      'chapter_url' : "<%= request.fullpath %>",
	      'chapter_id' : <%= @chapter.id %>,
	      'lesson_id' : <%= @lesson.id %>,
	      'received' : true,
	      'authenticity_token' : $("#csrf").val()
	    };

	    $.ajax({
	      type      : 'POST',
	      url       : '/logs/'+<%= current_user.id %>,
	      data      : info,
	      dataType  : 'json',
	      encode    : true
	    });
	  }

		$(window).bind('scroll', function() {
	    if($(window).scrollTop() >= $('.course-question').offset().top + $('.course-question').outerHeight() - window.innerHeight) {
	    	dataColect();
	    }
		});
	</script>
<% end %>