<div class="breadcrumb mb-0">
	<div class="list">
		<a href="<%= courses_url %>" class="item">Course</a>
		<a href="<%= courses_url %>/<%= params[:course_slug] %>" class="item"><%= @course.title %></a>
		<a nohref class="item"><%= @topic.title %></a>
	</div>
</div>
<div class="main__content-left">
	<h6 class="course-sidebar-heading"><span class="navigation_ic">Danh mục</span></h6>
	<div class="course-sidebar mt-4">
		<div class="sidebar-category">
			<h5><%= @topic.title %></h5>
			<div class="course-sidebar-list">
				<% @topic.lesson.order("id ASC").each do |lesson| %>
					<a href="<%= courses_url %>/<%= params[:course_slug] %>/<%= params[:topic_slug] %>/<%= lesson.lesson_slug %>" class="course-sidebar-item">
						<% if user_signed_in? && current_user.log.where(lesson_id: lesson.id).size >= lesson.chapter.count %>
							<span class="viewed_ic"></span>
						<% end %>
						<%= lesson.title %>
					</a>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="main__content-center courses">
	<div class="course-intro">
		<h3 class="title mb-3"><%= @topic.title %></h3>
		<p class="description mb-4"><%= @topic.description %></p>
	</div>
	<div class="content-list mt-3 clearfix">
		<% @topic.lesson.order("id ASC").each do |lesson| %>
			<a href="<%= courses_url %>/<%= params[:course_slug] %>/<%= @topic.topic_slug %>/<%= lesson.lesson_slug %>">
				<div class="content-list-item course rounded">
					<div class="content-list-item-body p-3">
						<h5><%= lesson.title %></h5>
						<p class="mb-0">
							<% if user_signed_in? %>
								<% if current_user.log.where(lesson_id: lesson.id).size = lesson.chapter.count %>
									<span class="passed_ic">Hoàn Thành</span>
								<% else %>
									Đã học: <span><%= current_user.log.where(lesson_id: lesson.id).size %>/<%= lesson.chapter.count %></span>
								<% end %>
							<% end %>
						</p>
						<p class="mt-3 truncate"><%= lesson.description %></p>
					</div>
				</div>
			</a>
		<% end %>
	</div>
</div>